#root {
  /*max-width: 1280px; para maximo ancho de pantalla*/
  margin: 0 auto;

  text-align: center;
  background-color: rgb(245, 245, 236);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}